
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /*pra considerar borda como borda total*/
}

.content {
    padding: 1rem;    /*rem é medida relativa (mantem proporcionalidade)*/
}

ol.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.pokemons li {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #14A06F;
    color: #fff;
}

ol.pokemons li img {
    max-width: 100%;
    height: 108px; 
    align-self: flex-end;
}