
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /*pra considerar borda como borda total*/
}

.content {
    width: 100vw; /*vw = view width"*/
    height: 100vh;
    padding: 1rem;    /*rem é medida relativa (mantem proporcionalidade)*/
    background-color: #fff;
    }

/*Usando Media Queries: conj de CSS aplicado de acordo com o tamanho da tela*/
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto; /*margin auto centraliza por consequencia*/
        border-radius: 1rem;
    }
} 