
* {
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 1rem;    /*rem é medida relativa (mantem proporcionalidade)*/
}

ol.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.pokemons li {
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    background-color: #14A06F;
    color: #fff;
    border-radius: 1rem;
}

ol.pokemons li img {
    max-width: 100%;
    height: 100px;
    display: flex;
}